{% load static %}

<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>She Codes News</title>
    <meta name="description" content="">
    <meta name="author" content="Sarah">
    <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css'%}">
    {% block stylesheets %}
    {% endblock %}
</head>

<body>
    <header>
        <div id="header-text">
            <a id="header-link" href="{% url 'news:index' %}">
                <h1>She {Codes} News</h1>
            </a>

        </div>
        {% if request.user.is_authenticated %}
        <p>Welcome back {{user.username}}!</p>
        {% endif %}
        {% include './nav.html' %}
    </header>

    <!-- django function: et 'block' this -->
    {% block content %}{% endblock %}
</body>

</html>