@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: rgb(255, 255, 255);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    border-bottom: 1px solid rgb(0, 0, 0);
}

form {
    background-color: rgba(240, 238, 230, 0.644);
    border: 0.1rem solid rgba(211, 211, 211, 0.811);
}

form p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-align: center;

}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a {
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
    color: #000;
    font-size: larger;
}

a,
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;