.story-card {
    margin: 2px;
    border: 1px solid #000;
    padding: 5px;
    background-color: rgb(240, 240, 240);
}

.story-card img {
    width: 98%;
    height: 300px;
    object-fit: cover;
}

#latest-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-left: 12rem;
    margin-right: 12rem;
}

#story-card-3 {
    flex-basis: 25%;
    flex-grow: 1;
}

#all-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-left: 12rem;
    margin-right: 12rem;
}

#all-stories .story-card {
    flex-basis: 25%;
    flex-grow: 1;
}

#story-content {
    text-align: justify;
}

#story-content img {
    float: right;
    margin: 0 0 10px 10px;
    width: 50%;
}