{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}
{% block content %}


<h2>Category List</h2>
{% if category_list %}
<ul>

    {% for story in category_list %}
    <a href="{% url 'news:story' story.id %}">
        <div id="story-wrapper">
            <h2>{{ story.title }}</h2>
            <h3>{{ story.author }}</h3>
            <h3>{{ story.category }}</h3>
            <div id="story-content">
                {{ story.content|linebreaks }}
                <!-- <img src="{{ story.image }}"> -->
            </div>
        </div>
    </a>
    {% endfor %}
</ul>
{% else %}
<p>There are no stories for this catrgory.</p>

{% endif %}

{% endblock %}