{% extends "base.html" %}{% load static %}{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
{% if user == writer %}
<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author }}</h4>
    <div id="story-content">
        <img src="{{ story.image }}">
        {{ story.content|linebreaks }}
        <a href="{% url 'news:updateStory' pk=story.id %}">Edit Story</a>
        <a href="{% url 'news:deleteStory' pk=story.id %}">Delete Story</a>
    </div>
    {% else %}
    <h3>Unable to View stories</h3>
    {% endif %}
    {% else %}

    <h3>Login to see your User Information!</h3>
    <a href="{% url 'login' %}">Login</a>
    <h4>Don't have an Account? Sign up!</h4>
    <a href="{% url 'users:createAccount' %}">Sign Up</a>
    {% endif %}
    {% endblock %}