{% extends "base.html" %}{% load static %}{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}
{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>Author: <a href="{% url 'news:author' story.author.id %}">{{story.author}}</a></h4>
    <div id="story-content">
        <img src="{{ story.image }}">
        {{ story.content|linebreaks }}

        {% if request.user.is_authenticated %}
        <a href="{% url 'news:updateStory' pk=story.id %}">Edit Story</a>
        <a href="{% url 'news:deleteStory' pk=story.id %}">Delete Story</a>
    </div>
    {% endif %}

    {% endblock %}